{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}
    <h2 class="white">Подписчики <a href="{% url 'user_profile' profile_user.user.username %}">{{ profile_user.user.username }}</a></h2>
{% endblock %}

{% block content %}
    <div class="col-8">
        <div class="follower-info">
            {% if followers %}
                <ul>
                    {% for f in followers %}

                        <div class="card p-3">
                        <div class="row">
                            <div class="col-2 p-2">
                                <div class="border mb-3 w-100 gray pic">
                                    <img
                                            src="{{ f.follower.user.profile.avatar_path.url }}"
                                            class="img-fluid rounded-start"
                                            alt="..."/>
                                </div>
                            </div>
                            <span class=" col p-2"> Пользователь: <a class="card-title link-success"
                               href="{% url 'user_profile' f.follower.user.username %}"> {{ f.follower.user.username }}
                            </a></span>
                            
                        </div>

                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Горе! Нет подписчиков.</p>
            {% endif %}
            <br>
            <a href="{% url 'user_profile' profile_user.user.username %}" class="btn btn-secondary">Назад к профилю</a>
        </div>
    </div>
{% endblock %}
