{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}
    <div class="d-flex gap-3 align-items-center">
        <h1 class="white">Профиль <a class="text-success">{{ profile_user.user.username }}</a></h1>
    </div>
{% endblock %}

{% block content %}
    <div class="col-8">
        <div class="profile-container">
            <img src="{{ profile_user.avatar_path.url }}" class="img-fluid rounded-start" alt="..."
                 style="max-height: 200px; object-fit: cover;">
            <br>
            <p><strong>Зарегистрирован:</strong> {{ profile_user.user.date_joined|date:"j E Y" }}</p>

            {% if request.user == profile_user.user %}
                <a href="{% url 'settings' %}">К настройкам профиля</a>
            {% else %}
                {% if is_following %}
                    <form action="{% url 'unfollow_user' profile_user.user.username %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Отписаться</button>
                    </form>
                {% else %}
                    <form action="{% url 'follow_user' profile_user.user.username %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Подписаться</button>
                    </form>
                {% endif %}
            {% endif %}

            <div class="follower-info mt-3">
                <p>
                    <strong>Подписчики:</strong>
                    <a href="{% url 'followers_list' profile_user.user.username %}">{{ followers }}</a> |
                    <strong>Подписки:</strong>
                    <a href="{% url 'following_list' profile_user.user.username %}">{{ following }}</a>
                </p>
            </div>

            <hr>

            {% if user_posts %}
                {% for item in user_posts %}
                    {% include "layouts/question.html" %}
                {% endfor %}
            {% else %}
                <p>пока пустая стена.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}